:root {
  --main-color: #ffffff;
  --secondary-color: #2196f3;
  --background-footer: #2f303a;
  --background-section: #f5f4fa;
  --primary-text-color: #212121;
  --seconary-text-color: #757575;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.transition {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-secondary {
  background-color: var(--background-section);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-studio-footer {
  color: var(--main-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: collapse;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-color);
}

.modal-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  color: var(--main-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-close-button:hover .modal-close-icon {
  fill: #2196F3;
}

.modal-close-icon {
  position: absolute;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 0;
  color: var(--seconary-text-color);
}

.modal-form-label:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-input:focus + .modal-form-field-icon {
  fill: #2196f3;
}

.modal-form-field {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.modal-form-policy-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  background-image: url("../images/Vector_chkbox.svg");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-input:focus + .modal-form-policy-label::before {
  outline: 1px solid #2196f3;
}

.modal-form-policy-input:checked + .modal-form-policy-label::before {
  background-image: url("../images/icon check.svg");
  outline: none;
}

.modal-form-policy-input {
  margin-right: 7px;
}

.modal-form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: var(--main-color);
  background-color: #2196F3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--secondary-color);
}

.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--main-color);
}

.social-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header a {
  margin: 0;
  bottom: -1px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-bottom: 32px;
  padding-top: 32px;
  border: -1px;
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--secondary-color);
}

.nav-list-item {
  position: relative;
  height: 100%;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link-active {
  color: var(--secondary-color);
}

.nav-list-link-active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #188ce8;
  bottom: 0;
  opacity: 1;
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-number {
  margin-left: 50px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--seconary-text-color);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: var(--secondary-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgimagehero-min.jpg);
  background-size: cover;
  background-color: var(--background-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.features-list {
  display: flex;
  align-items: stretch;
}

.features-list-title {
  margin-bottom: 10px;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-img {
  width: 270px;
  height: 120px;
  background-color: var(--background-section);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits-section {
  padding-top: 0;
}

.benefits-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits-list:not(:last-child) {
  margin-right: 30px;
}

.benefits-thumb {
  position: relative;
}

.benefits-name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.benefits-name h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.team-list-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.team-list-item {
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.client-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover, .client-list-link:focus {
  border-color: var(--secondary-color);
}

.client-list-link:hover .client-list-icon, .client-list-link:focus .client-list-icon {
  fill: var(--secondary-color);
}

.client-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-style: hidden;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.projects-list-button:active, .projects-list-button:hover, .projects-list-button:focus {
  color: var(--main-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects-link {
  display: block;
  position: relative;
}

.portfolio-projects-link:hover, .portfolio-projects-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-link:hover .portfolio-projects-overlay, .portfolio-projects-link:focus .portfolio-projects-overlay {
  transform: translateY(0);
}

.portfolio-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--seconary-text-color);
}

.portfolio-projects-thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.portfolio-projects-overlay {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 63px 24px;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-projects-item {
  margin: 15px;
  flex-flow: calc((100%-90px) / 3);
}

.portfolio-projects-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-projects-title {
  margin-bottom: 4px;
}

.footer {
  width: 100%;
  background: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-address {
  flex-grow: 1;
  margin-right: 70px;
}

.adress-list .link:focus, .adress-list .link:hover {
  color: var(--secondary-color);
}

.adress-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.adress-mail,
.adress-number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-list-name {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--secondary-color);
}

.footer-social-list-link:hover .social-list-icon, .footer-social-list-link:focus .social-list-icon {
  fill: var(--main-color);
}

.footer-social-list-icon {
  fill: var(--main-color);
}

.footer-subscribe-form {
  display: flex;
  justify-content: space-evenly;
}

.footer-subscribe-name {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-subscribe-label {
  margin-right: 12px;
  padding: 0;
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  color: var(--main-color);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe-button-icon {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */